<div class="container">
  <div class="mt-5 center">
    <h2><%= t('session.edit') %></h2>
    <div class="flex-center">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>

        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= "#{t('session.wait_confirm')} #{resource.unconfirmed_email}" %></div>
        <% end %>

        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <%= f.label :new_password %>
          <%= f.password_field :new_password, data: { length: resource_class.password_length.max } %>
          <span class="helper-text"><%= "#{resource_class.password_length.min} #{t('session.min_char')}" %></span>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <%= f.label :repeat_new_password %>
          <%= f.password_field :repeat_new_password, data: { length: resource_class.password_length.max } %>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <%= f.label :current_password %>
          <%= f.password_field :current_password %>
          <span class="helper-text"><%= t('session.need_current') %></span>
        </div>

        <div class="actions">
          <%= f.button t('session.changepass'), type: 'submit', class: 'btn waves-effect' %>
      <% end %>
      <div class="row mt-1">
        <%= link_to t('session.delete_acc'), '#modal1', class: 'grey waves-effect btn modal-trigger' %>
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4><%= t('session.delete_acc') %></h4>
            <p><%= t('session.sure') %></p>
          </div>
          <div class="modal-footer">
            <%= link_to t('session.confirm_delete'), registration_path(resource_name), method: :delete, class: 'grey btn waves-effect' %>
            <%= link_to t('session.back'), '#', class: 'teal modal-close btn waves-effect' %>
          </div>
        </div>


      <%= link_to t('session.logout'), destroy_admin_session_path, method: :delete, class: 'red btn waves-effect' %>
      </div>
      </div>
    </div>
  </div>
</div>
