<div class="container">
  <div class="mt-5 center">
    <h2><%= t('session.forgot') %></h2>
    <div class="flex-center">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>

        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= f.label :email, for: 'admin_email' %>
          <%= f.email_field :email %>
        </div>

        <div class="actions">
          <%= f.button t('session.sendreset'), type: 'submit', class: 'btn waves-effect' %>
      <% end %>
      </div>
    </div>

    <%= render 'devise/shared/links' %>
  </div>
</div>
