<div class='fixed-container'>
  <%= form_with url: items_path, method: :get, data: { remote: false } do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col s6">
          <p>
            <label>
              <%= f.radio_button :sort, 'brandASC', checked: params[:sort].eql?('brandASC') %>
              <span>Brand ASC<i class="right material-icons">arrow_drop_down</i></span>
            </label>
          </p>
          <p>
            <label>
              <%= f.radio_button :sort, 'brandDESC', checked: params[:sort].eql?('brandDESC') %>
              <span>Brand DESC<i class="right material-icons">arrow_drop_up</i></span>
            </label>
          </p>
        </div>
        <div class="col s6">
          <p>
            <label>
              <%= f.radio_button :sort, 'priceASC', checked: params[:sort].eql?('priceASC') %>
              <span>Price ASC<i class="right material-icons">arrow_drop_down</i></span>
            </label>
          </p>
          <p>
            <label>
              <%= f.radio_button :sort, 'priceDESC', checked: params[:sort].eql?('priceDESC') %>
              <span>Price DESC<i class="right material-icons">arrow_drop_up</i></span>
            </label>
          </p>
        </div>
      </div>
      <div class="input-field mt-3">
        <%= f.select :brands,
                     options_for_select(data.brands_for_select, params[:brands]),
                     { include_hidden: false, prompt: false },
                     multiple: true, data: { placeholder: t('items.search_hint.brand') } %>
        <%= f.label :brands %>
      </div>
    </div>
    <div class="input-field mt-3">
      <%= f.search_field :model,
                         placeholder: t('items.search_hint.model'),
                         type: 'text',
                         class: 'validate',
                         value: params[:model] %>
      <%= f.label :model %>
    </div>

    <div class="form-group">
      <%= f.label :price %>
      <div class="row">
        <div class="col s6">
          <%= f.text_field :price_gteq,
                           class: 'form-control',
                           id: 'min-price-output',
                           data: { default: data.default_min_price },
                           value: params[:price_gteq] %>
        </div>
        <div class="col s6">
          <%= f.text_field :price_lteq,
                           class: 'form-control',
                           id: 'max-price-output',
                           data: { default: data.default_max_price },
                           value: params[:price_lteq] %>
        </div>
      </div>
    </div>
    <div class="price-slider" style="margin-bottom: 50px"></div>
    <div class="row">
      <div class="col s6">
        <div class="input-field mt-3">

          <%= f.search_field :dial_color,
                             placeholder: t('items.search_hint.dial_color'),
                             type: 'text',
                             class: 'validate',
                             value: params[:dial_color],
                             list: 'colors' %>
          <datalist id="colors">
            <option value="White"></option>
            <option value="Black"></option>
            <option value="Gray"></option>
            <option value="Silver"></option>
            <option value="Red"></option>
            <option value="Green"></option>
            <option value="Blue"></option>
            <option value="Orange"></option>
            <option value="Yellow"></option>
            <option value="Brown"></option>
            <option value="Purple"></option>
            <option value="Transparent"></option>
          </datalist>
          <%= f.label :dial_color %>
        </div>
      </div>
      <div class="col s6">
        <div class="input-field mt-3">
          <%= f.search_field :case_dimensions,
                             placeholder: t('items.search_hint.case_dimensions'),
                             type: 'text',
                             class: 'validate',
                             value: params[:case_dimensions] %>
          <%= f.label :case_dimensions %>
        </div>
      </div>
    </div>
    <div class="input-field mt-3">
      <%= f.search_field :case_material,
                         placeholder: t('items.search_hint.case_material'),
                         type: 'text',
                         class: 'validate',
                         value: params[:case_material] %>
      <%= f.label :case_material %>
    </div>
    <div class="input-field mt-3">
      <%= f.search_field :bracelet_material,
                         placeholder: t('items.search_hint.bracelet_material'),
                         type: 'text',
                         class: 'validate',
                         value: params[:bracelet_material] %>
      <%= f.label :bracelet_material %>
    </div>
    <div class="input-field mt-3">
      <%= f.search_field :movement_type,
                         placeholder: t('items.search_hint.movement_type'),
                         type: 'text',
                         class: 'validate',
                         value: params[:movement_type] %>
      <%= f.label :movement_type %>
    </div>
    <div class="center">
      <div style="display: inline-block">
        <button class="btn waves-effect" type="submit">Search</button>
        <%= link_to 'Clear', request.path, class: 'btn waves-effect' %>
      </div>
    </div>
  <% end %>
</div>

