<%= search_form_for search, type: 'text' do |f| %>
  <div class='fixed-container'>
    <form>
      <div class="row">
        <div class="input-field">
          <%= f.search_field :brand_cont, placeholder: t('items.search_hint.brand') %>
          <%= f.label :brand %>
        </div>
        <div class="input-field">
          <%= f.search_field :model_cont, placeholder: t('items.search_hint.model') %>
          <%= f.label :model %>
        </div>
        <div class="form-group">
          <%= f.label :price %>
          <div class="row">
            <div class="col s6">
              <%= f.text_field :price_gteq,
                               class: 'form-control',
                               id: 'min-price-output',
                               data: { default: data.default_min_price },
                               value: data.current_min_price %>
            </div>
            <div class="col s6">
              <%= f.text_field :price_lteq,
                               class: 'form-control',
                               id: 'max-price-output',
                               data: { default: data.default_max_price },
                               value: data.current_max_price %>
            </div>
          </div>
        </div>
        <div class="price-slider" style="margin-bottom: 80px"></div>
        <div class="mt-5">
          <div class="input-field">
            <%= f.search_field :dial_color_cont, placeholder: t('items.search_hint.dial_color') %>
            <%= f.label :dial_color %>
          </div>
          <div class="input-field">
            <%= f.search_field :case_material_cont, placeholder: t('items.search_hint.case_material') %>
            <%= f.label :case_material %>
          </div>
          <div class="input-field">
            <%= f.search_field :case_dimensions_cont, placeholder: t('items.search_hint.case_dimensions') %>
            <%= f.label :case_dimensions %>
          </div>
          <div class="input-field">
            <%= f.search_field :bracelet_material_cont, placeholder: t('items.search_hint.bracelet_material') %>
            <%= f.label :bracelet_material %>
          </div>
          <div class="input-field">
            <%= f.search_field :movement_type_cont, placeholder: t('items.search_hint.movement_type') %>
            <%= f.label :movement_type %>
          </div>
        </div>
      </div>
    </form>

    <div class="mt-5 center">
      <div class="input-field " style="display: inline-block">
        <button class="btn waves-effect" type="submit" name="action">Search</button>
        <%= link_to 'Clear', request.path, class: 'btn waves-effect' %>
      </div>
    </div>
  </div>
<% end %>
