<div class="container">
  <% if @items.any? %>
      <table class="highlight centered striped responsive-table">
        <thead>
        <tr>
          <th></th>
          <th><%= t('items.table.brand') %></th>
          <th><%= t('items.table.model') %></th>
          <th><%= t('items.table.price') %></th>
          <th><%= t('items.table.dial') %></th>
          <th><%= t('items.table.case_material') %></th>
          <th><%= t('items.table.case_dimensions') %></th>
          <th><%= t('items.table.bracelet') %></th>
          <th><%= t('items.table.movement') %></th>
          <th><%= t('items.table.external_id') %></th>
        </tr>
        </thead>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.image_uri.present? ? image_tag(item.image_uri, height: '200') : image_pack_tag('placoholder.png', height: '200') %></td>
          <td><%= item.brand %></td>
          <td><%= item.model %></td>
          <td><%= "#{item.price} #{item.currency.upcase}" %></td>
          <td><%= item.dial_color %></td>
          <td><%= item.case_material %></td>
          <td><%= item.case_dimensions %></td>
          <td><%= item.bracelet_material %></td>
          <td><%= item.movement_type %></td>
          <td><%= item.external_id %></td>
        </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
    <p class="has-text-centered is-size-6"><%= t('items.table.no_items') %></p>
  <% end %>
</div>
