<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_pack_tag 'shop_hodinkee.png' %>
          <%= link_to processor_run_path(Processors::Run::SHOP_HODINKEE),
                      class: 'btn-floating btn-large halfway-fab waves-effect waves-light pink lighten-1',
                      method: :post do %>
            <i class="material-icons">keyboard_arrow_right</i>
          <% end %>
        </div>
        <div class="card-content">
          <p> <%== t('processors.shop_hodinkee') %></p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_pack_tag 'bobswatches.png' %>
          <%= link_to processor_run_path(Processors::Run::BOBSWATCHES),
                      class: 'btn-floating btn-large halfway-fab waves-effect waves-light pink lighten-1',
                      method: :post do %>
            <i class="material-icons">keyboard_arrow_right</i>
          <% end %>
        </div>
        <div class="card-content">
          <p> <%== t('processors.bobswatches') %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_pack_tag 'crownandcaliber.png' %>
          <%= link_to processor_run_path(Processors::Run::CROWNANDCALIBER),
                      class: 'btn-floating btn-large halfway-fab waves-effect waves-light pink lighten-1',
                      method: :post do %>
            <i class="material-icons">keyboard_arrow_right</i>
          <% end %>
        </div>
        <div class="card-content">
          <p> <%== t('processors.crownandcaliber') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
